<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>入会のご案内 | Ferrari Owners’ Club Japan</title>
  <link rel="icon" href="assets/img/favicon.ico">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="container registration-guide">
  <header class="common">
    <div class="contents-inner">
      <h1><img src="assets/img/logo_focj.svg" width="100" height="100" alt="Ferrari Owners’ Club Japan"></h1>
    </div>
  </header>

  <div class="main">
    <div class="contents-inner">
      <h2 class="contents-title">入会のご案内</h2>

      <div class="text-contents">
        <h3>フェラーリ・オーナーズクラブ・ジャパンについて</h3>
        <p>フェラーリオーナーズクラブは、フェラーリモデルのオーナーによって構成されるクラブです。たくさんの仲間とともに跳ね馬に対しての情熱を共有しながら、フェラーリの家族として、素晴らしい体験を楽しむ機会が更に広がります。45のフェラーリオーナーズクラブに約14,000人のフェラーリ・オーナーが所属し、世界40カ国以上で活動しています。</p>
        <p>2019年現在、日本においてフェラーリ本社が公認したフェラーリ・オーナーズ・クラブはFerrari Owners’ Club Japan / 略称 FOCJのみです。ツーリングやパーティー、サーキットイベントなど様々な取り組みが全国各地で行われておりますので、ご興味ある方は是非参加してみてください。</p>

        <div class="note">
          <h4>近時、フェラーリの名称やロゴ、フェラーリ・オーナーズ・クラブの名称を使用した団体が入会の勧誘や金銭の要求を行っているため、注意喚起いたします。</h4>
          <p>FOCJ以外に、フェラーリの名称やロゴ、フェラーリ・オーナーズ・クラブの名称を使用した活動や案内を行う団体については、フェラーリ本社及びフェラーリ・オーナーズ・クラブとは一切関係ありません。FOCJ以外の団体からの入会の勧誘や会費等の名目での金銭の要求には一切応じないようにお願いいたします。なお、フェラーリの名称等を無断で使用するこれらの団体への対処は、現在、フェラーリ本社およびフェラーリ・オーナーズ・クラブ本部にて、一括して進めておりますので、ご安心ください。</p>
        </div>

        <hr>

        <h3>オーナーズクラブ会員への特典</h3>

        <h4>・イタリアや世界中で行われるオフィシャルイベント</h4>
        <p>新型モデルのプレビュー、ラリー、ツアー、コンクール・デレガンス、サーキット走行、本格的なレースおよびチャリティーイベントなど、これらのすべてにおいて特別な待遇が与えられます（参加については各イベントによる）。</p>

        <h4>・日本国内の様々なイベント</h4>
        <p>Japan Premiereやその他、特別なオーナーのみが招待されるイベントへ参加できます（抽選や限定人数）。Ferrari Racing Daysなどではメンバー専用ラウンジなどが利用できます。</p>

        <h4>・Scuderia Ferrari</h4>
        <p>F1 Partyへの招待（抽選や限定人数）や、Scuderia Ferrariチームや監督、ドライバーとの交流、世界のF1グランプリへのツアー参加などのチャンスがあります。</p>

        <h4>・その他</h4>
        <p>本国ファクトリーツアーへの参加、Ferrari Storeでの20%ディスカウント（メンバーカードを提示）、TOFMマガジン購読が30%ディスカウント、クラシケ認定手続きと認定証発行が10%ディスカウントなどの特典もあります（詳細は都度規定）。</p>

        <hr>

        <h3>フェラーリ・オーナーズクラブ・ジャパン会則</h3>

        <div class="terms">
          <p>2019年2月1日改訂版</p>

          <h4>第一章 総則</h4>

          <h5>第一条 名称</h5>
          <p>本クラブは「フェラーリ・オーナーズクラブ・ジャパン」（英語名 Ferrari Owners’ Club Japan）と称する。<br>
          本クラブは 2014年 8月 1日より、世界のフェラーリ・オーナーズクラブの1つとしてフェラーリ社（イタリア）に登録されている。</p>

          <h5>第二条 事務局</h5>
          <p>本クラブの事務局を<br>
          〒106-0045東京都港区麻布十番3-4-10<br>
          TEL 03-5444-7887 FAX 03-5444-7501<br>
          に置く。</p>

          <h5>第三条 目的</h5>
          <p>本クラブはその活動を通じて会員の親睦と相互扶助をはかり、フェラーリによるモータリングやモータースポーツに対する世界、興味や知識を深めることを信条とし、オーナーのドライビングスキルと社会に対する責任感を向上させることを目的とする。<br>
          クラブの活動はクラブメンバーとクラブの利益のために行われ、フェラーオーナーの多様な嗜好を満たすよう全ての会員に平等でフェアな体験を提供する。運営はデジタル技術を含めて常に近代化され、オフィシャルディーラーネットワークと緊密な関係を保ちながらフェラーリ自体のビジネスとマーケティングの基盤としても寄与する。</p>
          <p style="margin-top: 1em;">目的補遺:</p>
          <ul>
              <li>フェラーリの車輌への関心を促進する</li>
              <li>オーナーのドライビングスキルと運転手の他者に対する責任感を育む</li>
              <li>クラブ会員同士のつながりをつくる</li>
              <li>イベント、ミーティング、会議、競技を開催する</li>
              <li>クラブ会員に情報と特典を提供する</li>
              <li>フェラーリ車の正しいコンディションとガイドラインを奨励する</li>
          </ul>

          <h5>第四条 活動</h5>
          <p>本クラブは、その目的達成のために以下の活動を行う。</p>
          <ol>
              <li>フェラーリ哲学及びフェラーリ文化の普及</li>
              <li>フェラーリを通じての会員相互の親睦</li>
              <li>モータリング及びモータースポーツに対する興味の喚起</li>
              <li>フェラーリに関する情報、アドバイス、その他援助の提供</li>
              <li>Ferrari S.p.A.によって作成されたガイドラインにに準拠し、Ferrariブランドの名声を育む</li>
              <li>モータリング、自動車に関する国内の法律や規制を遵守する為の指導、並びに監視</li>
              <li>各種モータースポーツ、旅行、講習、討議等の社会的行事の開催</li>
              <li>フェラーリ本社、フェラーリ・ジャパン株式会社及び公式ディーラー、他国のオーナーズクラブ、オフィシャル主催イベントへの参加奨励、その他の機関・団体との協力、友好関係の発展、維持</li>
              <li>高品質なイベントの開催</li>
              <li>エクスクルーシブな社交コミュニティとしての活動</li>
              <li>前号に掲げるもののほか、本会の目的を達成するために必要な活動</li>
          </ol>

          <h5>第五条 義務</h5>
          <p>本クラブは、その目的達成のために以下の義務を負う。</p>
          <ol>
              <li>地元の法律に従って、模範的かつ責任ある方法でイベントを展開する</li>
              <li>フェラーリの高い品質基準を満たすイベントを考案する</li>
              <li>地域のオフィシャルディーラーネットワークにすべてのクラブ活動を通知する</li>
              <li>最も重要なクラブイベントに地域のオフィシャルディーラーネットワークの代表者を招待する</li>
              <li>地方自治体の機関との実りある協力を発展させる</li>
              <li>常に安全な運転を促進する</li>
          </ol>

          <h5>第六条 原則</h5>
          <p>本クラブは、特定の個人・法人その他の団体の利益を目的としてその活動は行わない。</p>

          <h5>第七条 規則・規定</h5>
          <p>本クラブ会則施行に関する規約は、総会の出席者の決議をもって、規定は理事会の決議をもって定める。<br>
          この規約は、2019年 2月 1日から施行する。</p>

          <h4>第二章 会員</h4>

          <h5>第八条 会員</h5>
          <p>本クラブの会員は次の要件を満たすものでなければならない。</p>
          <ol>
              <li>年齢20歳以上の健全なる男女であること</li>
              <li>1台のフェラーリの新車または中古車を所有し（車両名義人ならびに法人名義の車両における当該車両の個人利用者）、かつ車輌がフェラーリの展示ガイドラインに適した状態に保たれていること（純正以外の改造はオフィシャルディーラーの規制に準じる）</li>
              <li>理想的にはフェラーリオフィシャルディーラーで購入・サービスを管理していること</li>
              <li>反社会的勢力に所属、関係していないこと</li>
              <li>エクスクルーシブな社交コミュニティとしての場に相応しいマナー、言動、服装またはドレスコードを遵守できる</li>
              <li>本会の会員資格は、第十条に従って入会した時から、入会した年度末までとするが、次年度以降も更新継続することができる</li>
              <li>名誉会員<br>本クラブの活動に貢献することにおいて顕著な人々（フェラーリジャパン社長）（会員を含む）を、理事会において名誉会員として選出することができる</li>
          </ol>

          <h5>第九条 会員の権利</h5>
          <p>本クラブの会員は以下の権利を有する。</p>
          <ol>
              <li>本クラブの会員は、すべて本クラブの提供する特典や利益を享受する権利を有する</li>
              <li>会員は、総会及び特別総会において各1個の議決権を有する</li>
              <li>会員は、別に定める規約により、本クラブの役員に選任される資格を有する</li>
          </ol>

          <h5>第十条 会員の義務および遵守事項</h5>
          <p>本クラブの会員は次の義務と遵守事項を守る。</p>
          <ol>
              <li>本クラブ会則および各機関の決定事項の遵守</li>
              <li>会費の納入</li>
              <li>積極かつ奉仕的なクラブ運営への参加</li>
              <li>本クラブに関連しない特定の機関、団体、商品等の宣伝にこのクラブの活動を利用しないこと</li>
              <li>会員は、理由なく会員の氏名、住所、肖像などの個人情報を、クラブの会員以外の第三者に公表してはならない</li>
              <li>会員は、このクラブの名簿を、営利を目的とする行為に利用したり、またはこのクラブの会員以外の第三者に利用させてはならない</li>
              <li>会員は、服装・身なりを常に清潔に保ち、自分以外の会員に対して不快感を与えないよう留意しなければならない。※刺青・タトゥーの露出は控える。</li>
          </ol>

          <h5>第十一条 入会および入会金</h5>
          <p>本クラブへの入会申し込みは、事務局を通じて行うものとする。理事1名と会員もしくは正規ディーラー1名が署名した所定の入会申込書を事務局に提出し、入会は理事会により承認され入会となる。</p>
          <ol>
              <li>入会にあたっては入会金を払わなければならない。入会金は5万円とする。</li>
              <li>入会を希望する者は、事務局に車検証を提出して、第八条2項に規定するフェラーリオーナーであることを示さなければならない</li>
          </ol>

          <h5>第十二条 会費</h5>
          <p>毎年、1月1日に会員としての資格を有する者は、年会費を支払わなければならない。<br>
          年会費は5万円とする。</p>
          <ol>
              <li>会費の支払い方法については別に定める規定による</li>
              <li>会費支払いについての通知は、事務局により毎年11月1日を持って行われ、12月末日までに支払いのない会員は次年度の会員資格を失うものとする</li>
              <li>既納の会費等はこれを返還しない</li>
              <li>入会金ならび年会費は、総会において変更することが出来る</li>
              <li>入会初年度の年会費は8月末日を基準とし、それより前に入会した者は5万円、後に入会したものは2万5千円とする</li>
          </ol>

          <h5>第十三条 休会</h5>
          <p>会員は、1カ年以上にわたっての国内外転勤あるいは病気入院等の事由が発生した場合、本クラブを休会することができる。</p>
          <ol>
              <li>休会を希望するときは、事務局に文書で願い出るものとし、理事会が休会を承認したとき休会を承認したことになる</li>
              <li>休会している会員は、年会費を1万5千円とする</li>
              <li>休会している会員は、このクラブの年次総会あるいは臨時総会に出席することはできない</li>
              <li>クラブの役員が休会したときは、本クラブの役員を辞任しなければならない</li>
              <li>会員は、休会するときクラブから貸与された物品を速やかに事務局に返却しなければならない</li>
              <li>事務局は、会員が休会している間、その会員の貸与された物品を保管するものとする</li>
              <li>休会している会員が復会を希望するときは、事務局に文書で願い出て、理事会の承認を得なければならない</li>
              <li>事務局から復会承認の通知を受けた者は、承認を受けた日から1ヵ月以内に規約に規定する復会しようとする年の年会費を満額納入するものとし、その納入のあった日から会員として復会できる。なお、満額を期限までに納入しない場合は、復会承認は取り消されるものとする。</li>
              <li>事務局は、会員が復会したとき、事務局で保管していた貸与された物品をその会員へ返還するものとする</li>
          </ol>

          <h5>第十四条 退会</h5>
          <p>退会を希望するものは、会員資格が存する期間内に、事務局に書面にて退会届を提し、入会時に貸与された物品を返却しなければならない。</p>
          <ol>
              <li>退会後は本クラブ会員のいかなる権利および義務も有さないものとする</li>
              <li>会員が死亡したときは、退会したものとみなす</li>
          </ol>

          <h5>第十五条 除名</h5>
          <p>会員が次の各号の一つでも該当する場合は、理事会の決定により除名することができる。</p>
          <ol>
              <li>本クラブの名誉を著しく傷つけもしくは目的に反する行為のあったとき</li>
              <li>会費納入義務を履行しないとき</li>
              <li>反社会的勢力に所属、関係していることが分かったとき</li>
              <li>その他会員としてふさわしくない行為のあったとき<br>理事会は、会員除名についての議案が提起された場合、6週間以内に理事会を開催し、少なくとも7日間の公示期間を設けて当事者の口頭または書面による説明の機会を与えなければならない。その後、3分の2の出席（委任状含む）を得た理事会で、除名が決定された時点において当事者は本クラブから除名されるものとする。</li>
          </ol>

          <h4>第三章 役員および理事会・組織</h4>

          <h5>第十六条 役員会の構成と役割</h5>
          <p>役員会は、会長、副会長、顧問、理事、会計監査、事務局長、運営委員、フェラーリ代表（フェラーリジャパン）で構成される。<br>
          理事会は、年度ごとに本クラブの運営計画を策定し、それを実行する。<br>
          フェラーリ代表の役割は、スーパーバイザーとしてフェラーリ社と本クラブの間の公式の監督、監査を行い、クラブの構造、管理、活動に関して指導、提案や指示をクラブに伝える。</p>

          <h5>第十七条 理事の選出</h5>
          <ol>
              <li>理事は15名以内とする。</li>
              <li>理事は会員の中から理事会の推薦において選出され、総会の承認（出席者の過半数〈委任状含む〉）を得て就任する。</li>
              <li>本クラブに対して、利害関係の有する者は、理事になることはできない</li>
              <li>会長（1名）は、理事会が理事の中から候補者を選出し、総会の承認（出席者の過半数〈委任状含む〉）を得て就任する</li>
              <li>副会長（若干名）は、会長が理事の中から任命し、総会の承認（出席者の過半数〈委任状含む〉）を得て就任する</li>
          </ol>

          <h5>第十八条 理事会</h5>
          <p>本クラブに、理事会を置く。</p>
          <ol>
              <li>理事会は、理事をもって構成する</li>
              <li>理事会は、会長が招集する</li>
              <li>会長は、理事総数の3分の2以上（委任状含む）の理事から、会議に付議すべき事項を示して理事会の招集を請求されたときは、その請求のあった日から1ヵ月以内にこれを招集しなければならない</li>
              <li>理事会の議長は、会長がこれを務める</li>
              <li>会長は、会議に先立って、出席している理事の中から1名を指名して、この理事に議長を務めさせることができる</li>
              <li>議長は、議決に参加することができる</li>
              <li>理事会は、理事総数の3分の2以上（委任状含む）の理事が出席しなければ、会議を開き議決をすることができない</li>
              <li>前項の場合において、会議に付議される事項について書面をもってあらかじめ意志を表示し、他の理事に議決権を委任した理事は、出席者とみなす</li>
              <li>理事会の議事は、この規約に別段の定めがある場合を除き、出席者の過半数（委任状含む）で決する</li>
              <li>理事会は、クラブの業務に応じた運営委員会を設け、運営委員を置くことができる</li>
              <li>理事会は顧問を指名し、理事会で参考意見を求めることができる</li>
              <li>理事会は、少なくとも年3回以上開催するものとする</li>
              <li>特別な理由なく年3回以上理事会に欠席した理事（委任状出席含む）は、その任を辞したものとみなす</li>
              <li>理事会は本クラブの迅速な運営のため、会長から理事にメールによる討議事項が示された事項についての決議は理事会による決定事項とする</li>
          </ol>

          <h5>第十九条 役員・理事の任務</h5>
          <p>役員・理事の任務は以下とする</p>
          <ol>
              <li>会長は本クラブを代表し、会務を総理する</li>
              <li>副会長は会長を補佐し、会長事故ある時は会長の職務を行う</li>
              <li>事務局長は事務局を統括し、総会および理事会議事の記録、本クラブ運営のための一般の事務を遂行する</li>
              <li>顧問は理事会に対して意見を述べることができるが、意思決定を行う権限を持たない</li>
              <li>運営委員は、理事の補佐として各目的別の担当を担う。担当については別に定める。運営委員は意思決定を行う権限を持たない</li>
              <li>会計監査は本クラブ決算を監査する</li>
              <li>世界中の他オーナーズクラブに対して日本の代表の一員になる</li>
              <li>フェラーリS.p.A.と緊密な協力関係を保つ</li>
              <li>フェラーリオフィシャルディーラーと緊密な協力関係を保つ</li>
              <li>担当地域を持ち、当該地域の会員・イベント企画運運営に責任を持ち、地域のオフィシャルディーラーとの窓口となる</li>
              <li>フェラーリオーナーズクラブ年次総会（FOC会長会）で日本の代表の一員になる</li>
              <li>フェラーリS.p.A.とフェラーリジャパンに対し以下の報告を行う：<br>
                  (ア) クラブの年間活動に関する詳細情報<br>
                  (イ) レポート、記事、写真、ビデオによるイベントの継続的な報告<br>
                  (ウ) クラブ会員に関する情報（データ）<br>
              </li>
          </ol>

          <h5>第二十条 業務の決定</h5>
          <p>本クラブの業務は、理事会で決定する。<br>
          本クラブの運営は、総会が決定した方針に従い、理事会の権限と責任のもとに実行される。
          </p>

          <h5>第二十一条 役員の任期</h5>
          <p>役員の任期は（2020年度より）3年とし、運営委員の任期は1年とする。就任・退任は会計年度の時期と同一とする。重任を妨げない。尚、別途フェラーリジャパン、会長、理事会で特定任期を定める場合は総会の承認をもってこれを変更することが出来る。<br>
          2019年度の役員は上記の特例をもって任期を1年と定める。<br>
          役員は、再任されることが出来る。</p>

          <h5>第二十二条 役員の報酬</h5>
          <p>役員の報酬は無報酬とする。</p>

          <h5>第二十三条 本部事務局の規則</h5>
          <p>本クラブの目的および総会で決定された事項に従い、または必要性に応じて事務局はその業務を遂行しなければならない。</p>

          <h4>第四章 総会</h4>

          <h5>第二十四条 総会の決議事項</h5>
          <p>総会の決議事項は以下とする。</p>
          <ol>
              <li>会則の決定および変更</li>
              <li>事業計画および収支予算の決定および変更</li>
              <li>事業報告および収支決算の承認</li>
              <li>会費等の額の設定および変更</li>
              <li>役員の選任および解任</li>
              <li>本会の解散および残余財産の分配</li>
              <li>規則の設定、変更および廃止</li>
              <li>その他、特に重要な事項</li>
          </ol>

          <h5>第二十五条 総会の種類および招集</h5>
          <p>本クラブ総会は年次総会と特別総会とする。<br>
          総会の招集は、日時、場所および議題を示して、開催日の少なくとも14日前までに各会員に通知されなければならない。</p>

          <h5>第二十六条 総会の成立および議事</h5>
          <p>総会の定足数は会員の3分の1とする。（委任状を含む）</p>
          <ol>
              <li>総会の決議は、出席会員の過半数をもってし、可否同数のときは議長がこれを決める（委任状を含む）</li>
              <li>委任状による出席および議決権の行使は、議長および会員に委任した場合に限り有効とする</li>
          </ol>

          <h5>第二十七条 年次総会</h5>
          <p>年次総会は1年に1度、理事会が定めた日時に従い開催する。</p>
          <ol>
              <li>前年度末付けの会計監査承認済みの会計報告が提出される</li>
              <li>前年度の活動報告が提出される</li>
              <li>新年度の会長、副会長、理事、会計監査、事務局長、運営委員、その他必要とされる役員が、任期に応じて選任される</li>
              <li>その他提示された議題が討議決定される</li>
          </ol>

          <h5>第二十八条 臨時総会</h5>
          <p>理事会は、必要に応じて臨時総会を招集することができる。<br>
          臨時総会の招集の手続きおよび議決の方法は、年次総会と同様とする。</p>

          <h5>第二十九条 議長</h5>
          <p>総会の議長は会長もしくは会長が任命した者とする。<br>
          議長は、総会の決議における可否同数の場合に議決権を行使できる。</p>

          <h4>第五章 会計・監査</h4>

          <h5>第三十条 会計年度</h5>
          <p>本クラブの会計年度は、毎年1月1日に始まり、同年12月31日に終わる。</p>

          <h5>第三十一条 収支</h5>
          <p>本クラブの経費は、会費、入会金、事業収入、寄付金、補助金その他の収入をもってこれに充てる。収入は会長、副会長、会計担当理事、事務局長の管理のもと、全て本クラブ名義の銀行口座に預金する。支出は全て会計担当理事の承認をもってする。</p>

          <h5>第三十二条 会計監査</h5>
          <p>会計監査（1名）は、税理士資格などを有する適任者を理事会で推薦し、総会で承認する。</p>

          <h5>第三十三条 決算</h5>
          <p>本クラブの決算は、会計監査を経て総会においてこれを報告する。</p>

          <h4>第六章 商標権等</h4>

          <h5>第三十四条 商標権</h5>
          <p>本クラブがその活動のために、あるいはその他必要に応じて使用するフェラーリの商標等は、フェラーリ本社の規定の下、フェラーリ・ジャパン株式会社を通じてその商標権を有する者から、商標権等の使用について許諾を受けるものとする。</p>
          <ol>
              <li>本クラブは、前項の許諾に従って、クラブ名称の一部として「フェラーリ」の名前を使用する非独占的権利を与えられている。</li>
              <li>本クラブは、クラブの活動や資料の関連でフェラーリ社の承認した公式ロゴを使用する権利を与えられている。</li>
              <li>公式ロゴは、フェラーリ社の独占的所有物であり続ける。</li>
              <li>本クラブの会員が、フェラーリ本社、フェラーリジャパン、理事会の承認を得ないで、複製、配布、賞品販売の目的でフェラーリの名前/公式ロゴ/他のフェラーリ要素を使用することは出来ない（これを禁止する）。</li>
          </ol>

          <h5>第三十五条 イベント開催ならびにプライバシーの配慮</h5>
          <p>本クラブが行う各種イベント開催に伴う諸権利は、本クラブが所有する。</p>
          <ol>
              <li>本クラブが各種イベントを企画、実施する場合、その概略についてフェラーリジャパンの事前承認を得なければならない。※イベント開催スケジュールの提出をもって事前承認とする。</li>
              <li>本クラブが第三者との協業イベントを企画、実施したり、スポンサード等の後援を受ける場合には、フェラーリジャパンの事前承認を得なければならない。<br>
              ただしFerrariオフィシャル・ディーラーならびにオフィシャル・パートナーの場合はこれに該当せず、事前承認の必要はない。</li>
              <li>本クラブが行う各種イベントを取材・撮影したり、それを報道・放映あるいは出版しようとする者は、本クラブの理事会の承認を得なければならない</li>
              <li>本クラブが行う各種イベントを、このクラブの会員は個人で楽しむ目的で撮影することができる。それをブログ・ツイッター・YouTube・LINE・Instagram等のSNSへ投稿・公開する場合は、投稿する本人以外の人物が特定できる写真や記述、ナンバープレートが読み取れる状態での写真の投稿は、プライバシーを十分に配慮する。</li>
              <li>上記三十五条の（4）に記載した配慮が不十分で、本クラブの会員同士に争い事が生じた場合本クラブならびに理事会はその責任を負わない。争い事の当事者同士で解決するモノとする。</li>
          </ol>

          <h4>第七章 規約改正および補則</h4>

          <h5>第三十六条 規約改正</h5>
          <p>この規約を改正しようとするときは、理事会の承認（出席者の3分の2以上の賛成〈委任状含む〉）および総会の承認（出席者の3分の2以上の賛成〈委任状含む〉）を要する。</p>

          <h5>第三十七条 緊急処置</h5>
          <p>この規約に規定していない事項が生じた場合で、緊急に判断あるいは処置しなければならないときは、会長もしくは理事会がその責任において対処し、後日理事会もしくは総会に報告し、承認を求めるものとする。</p>

          <h5>第三十八条 施行細則・既定</h5>
          <p>この規約についての細則、その他本クラブの運営に関し必要な規定は、理事会が定める。</p>
        </div>

        <div class="button-area">
          <a href="registration-form.html" class="button button--primary icon icon-checkbook">会則に同意し入会を申し込む</a>
        </div>

      </div>
    </div>
  </div>

  <footer class="common">
    <div class="contents-inner">
      <hr>
      <div class="back-to-top">
        <a href="https://ferrariownersclub.jp/" class="button button--line icon icon-home">トップページに戻る</a>
      </div>

      <p class="copyright">Copyright © Ferrari Owners' Club Japan. All Rights Reserved.</p>
    </div>
  </footer>

</div>

</body>
</html>