<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>入会お申し込み | Ferrari Owners’ Club Japan</title>
  <link rel="icon" href="assets/img/favicon.ico">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div class="container registration-form">
  <header class="common">
    <div class="contents-inner">
      <h1><img src="assets/img/logo_focj.svg" width="100" height="100" alt="Ferrari Owners’ Club Japan"></h1>
    </div>
  </header>

  <div class="main">
    <div class="contents-inner">
      <div class="thanks-contents">
        <h2 class="icon icon-check thanks-title"><span class="thanks-title-text">入会のお申し込みが<br>完了しました</span></h2>

        <p>後日、事務局より入会申請に関するご連絡をいたしますので、今しばらくお待ち下さい。</p>
      </div>

    </div>
  </div>

  <footer class="common">
    <div class="contents-inner">
      <hr>
      <div class="back-to-top">
        <a href="https://ferrariownersclub.jp/" class="button button--line icon icon-home">トップページに戻る</a>
      </div>

      <p class="copyright">Copyright © Ferrari Owners' Club Japan. All Rights Reserved.</p>
    </div>
  </footer>

</div>

</body>
</html>