*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: Ferrari-Sans;
  src: url("../font/Ferrari-SansLight.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Ferrari-Sans;
  src: url("../font/Ferrari-SansLightItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Ferrari-Sans;
  src: url("../font/Ferrari-SansRegular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Ferrari-Sans;
  src: url("../font/Ferrari-SansRegularItalic.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Ferrari-Sans;
  src: url("../font/Ferrari-SansBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Ferrari-Sans;
  src: url("../font/Ferrari-SansBoldItalic.otf");
  font-weight: 600;
  font-style: italic;
}
:root {
  --color-red: #ed1c24;
  --color-light-gray: #d0d3dd;
  --color-dark-gray: #22232b;
  --color-main-bg: #16171b;
  --font-size: 1.5rem;
  --font-size-small: 1rem;
  --font-size-large: 1.8rem;
  --inner-padding: 50px;
}
@media (max-width: 850px) {
  :root {
    --inner-padding: 30px;
  }
}

html {
  background: var(--color-main-bg);
  font-size: 62.5%;
  touch-action: manipulation;
}

body {
  color: #fff;
  font-family: Ferrari-Sans, sans-serif;
  font-weight: 400;
  position: relative;
  word-break: break-word;
  font-size: var(--font-size);
  line-height: 1.8;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  line-height: 1.6;
}

.contents-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--inner-padding);
}

.container {
  padding: 0 0 var(--inner-padding);
}

.button {
  --color: inherit;
  --background: transparent;
  display: inline-block;
  text-align: center;
  font-size: var(--font-size);
  text-decoration: none;
  padding: 1em 4rem;
  color: var(--color);
  background: var(--background);
  border: none;
  border-radius: 3.6rem;
  cursor: pointer;
}
.button--primary {
  --background: var(--color-red);
  --color: #fff;
}
@media (min-width: 851px) {
  .button--primary {
    transition: background-color 0.1s linear 0s, color 0.1s linear 0s;
  }
}
.button--line {
  border: 1px solid currentColor;
}
@media (min-width: 851px) {
  .button--line {
    transition: background-color 0.1s linear 0s, border-color 0.1s linear 0s;
  }
}
.button.icon {
  display: flex;
  gap: 0.8em;
  align-items: center;
  justify-content: center;
}
@media (min-width: 851px) {
  .button.icon::before {
    transition: background-color 0.1s linear 0s;
  }
}
@media (min-width: 851px) {
  .button--primary:hover {
    background-color: #fff;
    color: var(--color-dark-gray);
  }
  .button--primary.icon:hover::before {
    background-color: var(--color-dark-gray);
  }
  .button--line:hover {
    background-color: var(--color-red);
    border-color: var(--color-red);
  }
  .button--line.icon:hover::before {
    background-color: #fff;
  }
}

.button-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
}

.icon {
  --icon-color: var(--color-dark-gray);
}
.icon.button--primary {
  --icon-color: #fff;
}
.icon.button--line {
  --icon-color: var(--color-light-gray);
}
.icon.icon--text {
  --icon-color: currentColor;
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.icon.icon-checkbook {
  --icon-width: 22px;
  --icon-height: 16px;
}
.icon.icon-checkbook::before {
  display: block;
  content: "";
  mask-image: url(../img/icon_checkbook.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  width: var(--icon-width);
  height: var(--icon-height);
  background: var(--icon-color);
}
.icon.icon-home {
  --icon-width: 22px;
  --icon-height: 19px;
}
.icon.icon-home::before {
  display: block;
  content: "";
  mask-image: url(../img/icon_home.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  width: var(--icon-width);
  height: var(--icon-height);
  background: var(--icon-color);
}
.icon.icon-datacheck {
  --icon-width: 22px;
  --icon-height: 21px;
}
.icon.icon-datacheck::before {
  display: block;
  content: "";
  mask-image: url(../img/icon_data-check.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  width: var(--icon-width);
  height: var(--icon-height);
  background: var(--icon-color);
}
.icon.icon-edit {
  --icon-width: 22px;
  --icon-height: 22px;
}
.icon.icon-edit::before {
  display: block;
  content: "";
  mask-image: url(../img/icon_edit.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  width: var(--icon-width);
  height: var(--icon-height);
  background: var(--icon-color);
}
.icon.icon-radio {
  --icon-width: 22px;
  --icon-height: 22px;
}
.icon.icon-radio::before {
  display: block;
  content: "";
  mask-image: url(../img/icon_radio.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  width: var(--icon-width);
  height: var(--icon-height);
  background: var(--icon-color);
}
.icon.icon-list {
  --icon-width: 22px;
  --icon-height: 11px;
}
.icon.icon-list::before {
  display: block;
  content: "";
  mask-image: url(../img/icon_list.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  width: var(--icon-width);
  height: var(--icon-height);
  background: var(--icon-color);
}
.icon.icon-image {
  --icon-width: 22px;
  --icon-height: 22px;
}
.icon.icon-image::before {
  display: block;
  content: "";
  mask-image: url(../img/icon_image.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  width: var(--icon-width);
  height: var(--icon-height);
  background: var(--icon-color);
}
.icon.icon-checkbox {
  --icon-width: 22px;
  --icon-height: 22px;
}
.icon.icon-checkbox::before {
  display: block;
  content: "";
  mask-image: url(../img/icon_checkbox.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  width: var(--icon-width);
  height: var(--icon-height);
  background: var(--icon-color);
}
.icon.icon-send {
  --icon-width: 22px;
  --icon-height: 18px;
}
.icon.icon-send::before {
  display: block;
  content: "";
  mask-image: url(../img/icon_send.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  width: var(--icon-width);
  height: var(--icon-height);
  background: var(--icon-color);
}
.icon.icon-edit-note {
  --icon-width: 22px;
  --icon-height: 19px;
}
.icon.icon-edit-note::before {
  display: block;
  content: "";
  mask-image: url(../img/icon_edit-note.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  width: var(--icon-width);
  height: var(--icon-height);
  background: var(--icon-color);
}
.icon.icon-check {
  --icon-width: 22px;
  --icon-height: 15px;
}
.icon.icon-check::before {
  display: block;
  content: "";
  mask-image: url(../img/icon_check.svg);
  mask-repeat: no-repeat;
  mask-size: contain;
  width: var(--icon-width);
  height: var(--icon-height);
  background: var(--icon-color);
}

.input-text, .input-date, .input-checkbox, .input-select, .input-textarea, .input-file {
  --background: var(--color-light-gray);
  --color: var(--color-dark-gray);
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.6rem;
  background: var(--background);
  border: 1px solid currentColor;
  border-radius: 5px;
  color: var(--color);
  outline: none;
}
.input::placeholder {
  color: var(--color-light-gray);
}
.input-date {
  padding-top: 0;
  padding-bottom: 0;
  height: 2.4em;
  line-height: 2.4;
}
.input-text {
  -webkit-appearance: none;
}
.input-select {
  display: block;
}
.input-checkbox, .input-radio {
  width: 2.6rem;
  height: 2.6rem;
  margin: 0;
  padding: 0;
  accent-color: var(--color-red);
}
.input-textarea {
  height: 10em;
}
.input-file {
  --background: transparent;
  --color: var(--color-light-gray);
  border-color: var(--color-dark-gray);
  accent-color: var(--color-dark-gray);
  font-size: 1.3rem;
}

header.common {
  margin: 0 0 50px;
  width: 100%;
  background: linear-gradient(180deg, #871015 0%, #ed1c24 70%, #ff777a 100%);
  z-index: 10;
  -webkit-user-select: none;
  user-select: none;
  padding: 20px 0;
}
header.common h1 {
  width: 60px;
  margin: 0 auto;
}

footer.common {
  margin: 50px 0 0;
}
footer.common hr {
  margin: 40px 0;
  border: none;
  border-top: 1px solid var(--color-dark-gray);
}
footer.common .back-to-top {
  display: flex;
  justify-content: center;
}
footer.common .copyright {
  text-align: center;
  margin-top: 20px;
  font-size: var(--font-size-small);
}

.contents-title {
  font-size: 3rem;
  margin-bottom: 50px;
}

.contents-message {
  margin-bottom: 50px;
}

.text-contents h3,
.form-contents h3 {
  font-size: 2.2rem;
  margin-bottom: 20px;
  border-left: 2px solid var(--color-red);
  padding-left: 20px;
}
.text-contents h4,
.form-contents h4 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.text-contents h5,
.form-contents h5 {
  font-size: 1.6rem;
  margin: 0 0 10px;
}
.text-contents h3 + h4,
.form-contents h3 + h4 {
  margin-top: 30px;
}
.text-contents * + h5,
.form-contents * + h5 {
  margin-top: 30px;
}
.text-contents p,
.form-contents p {
  margin-bottom: 20px;
}
.text-contents p:last-child,
.form-contents p:last-child {
  margin-bottom: 0;
}
.text-contents p + h4,
.form-contents p + h4 {
  margin-top: 30px;
}
.text-contents hr,
.form-contents hr {
  margin: 40px 0;
  border: none;
  border-top: 1px solid var(--color-dark-gray);
}
.text-contents .note,
.form-contents .note {
  background: var(--color-dark-gray);
  padding: 2em;
  margin: 40px 0 0;
}
.text-contents ul,
.form-contents ul {
  list-style: none;
  padding: 0;
}
.text-contents ul li,
.form-contents ul li {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 10px;
  gap: 1em;
}
.text-contents ul li::before,
.form-contents ul li::before {
  content: "";
  display: block;
  margin-top: calc(1em - 3px);
  width: 3px;
  height: 3px;
  background: #fff;
  border-radius: 50%;
}

.terms {
  background: var(--color-dark-gray);
  padding: 2em;
  margin: 40px 0 0;
  height: 300px;
  overflow-y: scroll;
}

.form-contents {
  margin: 0 auto;
}
.form-contents .form-group {
  margin-bottom: 20px;
}
.form-contents .form-group-name {
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.form-contents .form-group-name .icon.icon-edit {
  --icon-width: 14px;
  --icon-height: 14px;
  --icon-color: var(--color-light-gray);
}
.form-contents .form-group-name .icon.icon-radio {
  --icon-width: 14px;
  --icon-height: 14px;
  --icon-color: var(--color-light-gray);
}
.form-contents .form-group-name .icon.icon-list {
  --icon-width: 14px;
  --icon-height: 7px;
  --icon-color: var(--color-light-gray);
}
.form-contents .form-group-name .icon.icon-image {
  --icon-width: 14px;
  --icon-height: 14px;
  --icon-color: var(--color-light-gray);
}
.form-contents .form-group-name .icon.icon-checkbox {
  --icon-width: 14px;
  --icon-height: 14px;
  --icon-color: var(--color-light-gray);
}
.form-contents .form-require {
  font-size: 1.1rem;
  color: #fff;
  background: var(--color-red);
  padding: 0.5em 1em;
  border-radius: 1.5em;
  line-height: 1;
}
.form-contents .form-item-line {
  display: flex;
  gap: 1.5em;
  justify-content: stretch;
}
.form-contents .form-item-line + .form-item-line {
  margin-top: 10px;
}
.form-contents .form-item-line.--short {
  max-width: 500px;
}
.form-contents .form-item-line.--date {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.form-contents .form-item-label {
  flex: auto;
  line-height: 1.5;
}
.form-contents .form-item-label.--has-error {
  color: var(--color-red);
}
.form-contents .form-item-date {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.form-contents .form-item-date .form-item-name {
  font-size: 1.4rem;
}
.form-contents .form-item-checkbox,
.form-contents .form-item-radio {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.form-contents .form-item-checkbox .form-item-name,
.form-contents .form-item-radio .form-item-name {
  font-size: 1.6rem;
}
.form-contents .form-item-name {
  font-size: 1.3rem;
  margin-bottom: 3px;
}
.form-contents .form-group-description {
  font-size: 1.3rem;
  margin-top: 5px;
}
.form-contents .form-item-confirm {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.form-contents .form-item-confirm img {
  max-width: 600px;
}

.registration-form .main {
  margin: 0 auto;
}

.validation-item.--error {
  border: 1px solid var(--color-red);
  background: rgba(237, 28, 36, 0.2);
  color: #fff;
}
.validation-item.--error::placeholder {
  color: var(--color-red);
  opacity: 0.3;
}

.form-item-error {
  color: var(--color-red);
  font-size: 1.4rem;
  margin-top: 5px;
}

#form-invalid-message {
  display: none;
  background: rgba(237, 28, 36, 0.2);
  padding: 1em;
  border-radius: 5px;
  margin: 0 0 50px;
}

.thanks-contents {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.thanks-title {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  text-align: center;
  gap: 30px;
  margin: 0 0 50px;
}
.thanks-title.icon {
  --icon-color: #fff;
  --icon-width: 44px;
  --icon-height: 30px;
}
.thanks-title::before {
  margin: 0 auto;
}
